body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c79081, #dfa579);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.coffee{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #8B4513;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #5c2e0f;
}

.footer-coffee{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}